.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.checkout {
    padding: 0 2rem;
}

.checkout h2 {
    color: #333;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid #D2D2D2;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-self: stretch;
    margin-bottom: 2rem;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: #f9f9f9;
    border-radius: 5px;
}

.form-check-input {
    margin-right: 1rem;
    width: 20px;
    height: 20px;
}

.form-check-label {
    margin: 0;
    color: #444;
    font-size: 1.2rem;
    font-weight: 500;
}

@media only screen and (max-width: 480px) {
    .checkout {
        padding: 0 1rem;
    }

    .checkout h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .checkout {
        padding: 0 3rem;
    }
}
